@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  font-family: "Open Sans", sans-serif;
}

.p-60 {
  padding: 60px 0;
}

body {
  background-color: #fff;
  height: 100vh;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.bar {
  width: 60px;
  height: 2.5px;
  background-color: #242424;
}

.bar2 {
  height: 350px;
  width: 2px;
  background-color: #494949;
  position: relative;
  top: 50px;
  left: 10px;
}

.month {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  margin-top: 5rem;
}

.month p {
  margin: 10px;
  margin-right: -30px;
  text-transform: uppercase;
  font-size: 12px;
}

.month > .april {
  color: #006d7e;
  font-size: 16px;
  font-weight: 600;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  z-index: 1000;
  margin: 0 5%;
}

.logo a {
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  transition: 0.5s;
}

nav ul {
  color: #000;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  position: relative;
}

.latest {
  color: #006d7e;
}

nav ul li a {
  text-transform: uppercase;
  color: #000;
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  transition: 0.5s;
  font-weight: 500;
  font-size: 12px;
}

.icons {

}

.icons a {
  padding: 0 10px;
  color: #000;
  font-size: 18px;
}

/* Header Part End Here */

.main-area {
  display: flex;
}
.left-side {
  padding: 0 20px;
  width: 40%;
  margin: 0 0 0 60px;
}

.left-side h2 {
  font-size: 2.5rem;
  color: #242424;
}

.left-side > p {
  color: #383838;
  font-size: 12px;
}

.right-side {
  padding: 0 20px;
  width: 40%;
  margin: 0 0 0 60px;
}

.right-side > p {
  text-align: right;
  text-transform: uppercase;
  font-weight: 600;
  color: #747474;
}

.img-box {
  background-color: #006d7e;
  position: relative;
}

.box-content {
  color: #e0e0e0;
  padding: 10px;
  width: 250px;
  font-size: 14px;
  font-weight: 200;
}

.box-content p{
  
}

.box-content a {
  text-decoration: none;
  color: #fff;
}

.box-content a:hover{
  color: #000000;
  transition: .5s;
}

.box-img {
  background-color: #fff;
}

.box-img img {
  width: 100px;
  top: -40px;
  right: 20px;
  position: absolute;
  padding: 20px;
  background-color: #fff;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  grid-auto-flow: dense;
  margin-top: 10px;
}

.singleImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.singleImg img:hover{
  opacity: 0.8;
  cursor: pointer;
}

#mainImg{
  grid-column: auto / span 3;
  grid-row: auto / span 2;
}

.singleImg{
    position: relative;
}

.singleImg-content{
    position: absolute;

}

.singleImg-content p{
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #00000098;
    font-size: 12px;
    color: #fff;
    padding: 10px;
    width: 6rem;
    text-transform: uppercase;
}

.singleImg>.singleImg-content>a{
  position: absolute;
  font-size: 18px;
  margin-top: -16rem;
  padding: 5px;
  color: #000000c2;
  left: 0;
}

.slide{
  background-color: #747474;
  padding: 20px 10px;
  color: #fff;
  margin-top: 10px;
  display: flex;
}

.img-gallery{

}

.img-gallery img{
  width: 100px;
  border-radius: 2px;
}

.teameBox{
  background-color: #006d7e;
  padding: 5px;
  color: rgb(199, 199, 199);
  font-size: 12px;
}

.icons {
  text-align: right;
  padding: 10px 0;
}

.icons a {
  color: #747474;
}

.icons a:hover {
  color: #000;
  transition: 0.5s;
}
